*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
#nav{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
#nav2{
    display: flex;
    justify-self: end;
    padding-right:40px ;
}
#nav2 h4{
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size:13px;
    
}
#nav2 h5{
    display: none;
}
#nav1{
    display: flex;
    padding-left:30px;
}
.circle{
    border-radius: 50%;
    height: 17px;
    width: 17px;
    background-color: black;
}
#snd{
    /* background-color: aqua; */
    height: 60px;
    width: 100%;
    padding-right: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
#snd h4{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
#content{
    height:calc(100% - 120px);
    width: 100%;
    /* background-color: aqua; */
}
#upper{
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#upper::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 50px;
    
}
#upper::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    
}
.elem h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:80px;
    font-weight: 300;
}
#new{
    height:60%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}
#new img{
  height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    object-position: center;
    
}
@media(max-width:600px){
    #main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
#nav{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
#nav2{
    display: flex;
    justify-self: end;
    padding-right:20px ;
}
#nav2 h4{
    /* padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size:13px; */
    display:none;
}
#nav2 h4:nth-child(1){
    display: initial;
}
#nav2 h5{
    display:initial;
    padding-left: 20px;
}
#nav2 h5 i{
    font-size: 18px;
    
}
#nav1{
    display: flex;
    padding-left:22px;
}
.circle{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: black;
}
#snd{
    /* background-color: aqua; */
    height: 10%;
    width: 100%;
    /* padding-right: 45%; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
#snd h4{
    padding-left: 8px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
#content{
    height:calc(100% - 120px);
    width: 100%;
    /* background-color: aqua; */
}
#upper{
    height: 30%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#upper::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 50px;
    
}
#upper::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: fit-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
   margin-right: 20px;
   padding-left: 15px;
    
}
.elem h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18vw;
    font-weight: 300;
    white-space: nowrap;
}
#new{
    height:70%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}
#new img{
  height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    object-position: center;
    
}
}
